@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
}
.login {
  height: 100vh;
  width: 100vw;
  display: flex;
}
.left-login,
.right-login {
  width: 50%;
  height: 100%;
}
.right-login {
  background-color: cadetblue;
}
.left-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.home {
  min-height: 100vh;
  display: grid;
  padding: 100px;
}

.swiper1 {
  width: 100vw;
}
.product-slide {
  display: grid;
  place-items: center;
}
.home h2 {
  text-align: start;
}
select {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 200px;
  padding: 8px;
  border-radius: 8px;
}
